
{% extends "admin/index.html" %}        
{% block branding %}
        <header id="header">
            <div id="branding">
                <div id="site-name">
                    <a href="/admin/">Panel Administrativo del ICC Cuerpo de Bomberos</a>
                </div>
            </div>
        </header>
    <!-- Personaliza el contenido del bloque branding o añade tu propio HTML -->
{% endblock %}


{% block content %}
        <div>
            <h1>Sitio Administrativo Personalizado aaaaaaaaaaaaaaaaa</h1>
        </div>

    <!-- Personaliza el contenido principal de la página de inicio -->
{% endblock %}
 
 
